<div class="container height-100">
    <div class="block-left height-100 container-50">
        <img
            class="block-left-image"
            src="./assets/images/think-different.png"
            alt="indeer"
        />
    </div>
    <div class="block-right height-100">
        <div *ngIf="!submitted && !isExpired" class="block-right-wrapper">
            <div class="block-right-heading">
                <h2 class="block-right-heading__main">Recover password</h2>
            </div>
            <form
                [formGroup]="resetForm"
                (ngSubmit)="onResetPassword()"
                class="form-submit block-right-form"
            >
                <div class="step block-right-form">
                    <div
                        [class.error]="
                    (resetFormControl['password'].touched || submitted) &&
                    resetFormControl['password'].errors?.['required'] || (resetFormControl['password'].touched &&
                    resetFormControl['password'].errors?.['pattern'])
            "
                        class="block-right-form-password"
                    >
                        <label
                            for="password"
                            class="block-right-form-label label"
                        >
                            {{
                            resetFormControl['password'].touched &&
                            resetFormControl['password'].errors?.['pattern']
                                ? 'Password invalid'
                                : 'Password'
                            }}
                        </label>
                        <input
                            formControlName="password"
                            name="password"
                            id="password"
                            type="{{ !isShowPassword ? 'password' : 'text' }}"
                            placeholder="•••••••"
                            class="block-right-form-input input"
                        />
                        <button
                            type="button"
                            *ngIf="!isShowPassword"
                            (click)="onShowPassword()"
                            class="block-right-form-action__show"
                        ></button>

                        <button
                            type="button"
                            *ngIf="isShowPassword"
                            (click)="onShowPassword()"
                            class="block-right-form-action__hide"
                        ></button>
                    </div>
                    <div
                        [class.error]="
                    (resetFormControl['repassword'].touched || submitted) &&
                    resetFormControl['repassword'].errors?.['required'] || (resetFormControl['repassword'].touched &&
                    resetFormControl['repassword'].errors?.['confirmPasswordValidator'])
            "
                        id="input_repassword"
                        class="block-right-form-repassword"
                    >
                        <label
                            id="label_repassword"
                            for="repassword"
                            class="block-right-form-label label"
                        >
                            {{
                            resetFormControl['repassword'].touched &&
                            resetFormControl['repassword'].errors?.['confirmPasswordValidator']
                                ? 'Password not matched'
                                : 'Confirm password'
                            }}
                        </label>
                        <input
                            formControlName="repassword"
                            name="repassword"
                            id="repassword"
                            type="{{ !isShowRePassword ? 'password' : 'text' }}"
                            placeholder="•••••••"
                            class="block-right-form-input input"
                        />

                        <button
                            type="button"
                            *ngIf="!isShowRePassword"
                            (click)="onShowRePassword()"
                            class="block-right-form-action__show"
                        ></button>

                        <button
                            type="button"
                            *ngIf="isShowRePassword"
                            (click)="onShowRePassword()"
                            class="block-right-form-action__hide"
                        ></button>
                    </div>
                </div>

                <div class="block-right-form-submit">
                    <button
                        type="submit"
                        id="submit_button"
                        class="block-right-form-submit-button button"
                    >
                        Reset password
                    </button>
                </div>
                <div class="block-right-form-signup">
                    <div class="block-right-form-signup-body">
                        Remembered password? <span>Sign in</span>
                        <a
                            routerLink="/register"
                            class="block-right-form-signup-body__link link"
                        >
                            Sign in</a
                        >
                    </div>
                </div>
            </form>
        </div>
        <!-- check mail block -->
        <div *ngIf="submitted && !isSuccess" class="block-right-check-email">
            <div class="block-right-check-email-icon">
                <img src="./assets/icons/loading-progress.png" alt="loading" />
            </div>
            <div class="block-right-check-email-subheading">
                <span>Reset password is pending...</span>
            </div>
        </div>
        <!-- success mail block -->
        <div *ngIf="!isExpired && isSuccess" class="block-right-success-email">
            <div class="block-right-success-email-icon">
                <img src="./assets/icons/tick.svg" alt="loading" />
            </div>
            <div class="block-right-success-email-subheading">
                <span>Successfully reset your password.</span>
            </div>
            <div class="block-right-success-email-button">
                <a routerLink="/login" class="button"> Click here to login </a>
            </div>
        </div>
        <!-- expired -->
        <div *ngIf="isExpired && isSuccess" class="block-right-expired">
            <div class="block-right-expired-icon">
                <img src="./assets/icons/expired.svg" alt="loading" />
            </div>
            <div class="block-right-expired-subheading">
                <span
                    >Expired activation. Please re-activate your account.</span
                >
            </div>
            <div class="block-right-expired-button">
                <button
                    (click)="onResendResetPasswordEmail()"
                    type="button"
                    class="button"
                >
                    Re-activate account
                </button>
            </div>
        </div>
    </div>
</div>
<app-badge></app-badge>
