<div class="container height-100">
    <div class="block-left height-100 container-50">
        <img
            class="block-left-image"
            src="./assets/images/think-different.png"
            alt="indeer"
        />
    </div>
    <div class="block-right height-100">
        <div class="block-right-wrapper">
            <div class="block-right-heading">
                <h2 class="block-right-heading__main">Recover password</h2>
                <h5 class="block-right-heading__sub">
                    Insert your email to recover your password.
                </h5>
            </div>
            <form
                [formGroup]="recoverForm"
                (ngSubmit)="onSendEmail()"
                class="form-submit block-right-form"
            >
                <div class="step block-right-form">
                    <div
                        [class.error]="
                (recoverFormControl['email'].touched || submitted) &&
                recoverFormControl['email'].errors?.['required'] || (recoverFormControl['email'].touched &&
                recoverFormControl['email'].errors?.['pattern'])
                "
                        id="input_email"
                        class="block-right-form-email"
                    >
                        <label
                            id="label_email"
                            for="email"
                            class="block-right-form-label label"
                        >
                            {{
                            recoverFormControl['email'].touched &&
                            recoverFormControl['email'].errors?.['pattern']
                                ? 'Email invalid'
                                : 'Email'
                            }}
                        </label>
                        <input
                            formControlName="email"
                            name="email"
                            id="email"
                            placeholder="name@netpower.no"
                            class="block-right-form-input input"
                        />
                        <button
                            *ngIf="recoverFormControl['email'].value != ''"
                            type="button"
                            (click)="recoverFormControl['email'].reset('')"
                            class="block-right-form-action__remove"
                        ></button>
                    </div>
                </div>

                <div class="block-right-form-access">
                    <a class="block-right-form-access-link link" href="#"
                        >Cannot access?</a
                    >
                </div>

                <div class="block-right-form-submit">
                    <button
                        value="submit"
                        type="submit"
                        class="block-right-form-submit-button button"
                    >
                        Send Email
                    </button>
                </div>
                <div class="block-right-form-signup">
                    <div class="block-right-form-signup-body">
                        Don't have an account?
                        <a
                            routerLink="/register"
                            class="block-right-form-signup-body__link link"
                        >
                            Sign up</a
                        >
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<app-badge></app-badge>
