.block-left {
    background: linear-gradient(151.25deg, #5dd6ff -7.2%, #188cb3 109.82%);
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}
.block-left-image {
    display: block;
    width: 63%;
}
.block-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.block-right-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 56px;
    height: 453px;
}

.block-right-heading__main {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: var(--heading-color);
}
.block-right-heading__sub {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--subheading-color);
}
.block-right-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 70%;
}
.block-right-form-repassword,
.block-right-form-email,
.block-right-form-password {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.block-right-form {
    &-fname,
    &-lname {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 49%;
    }
}

.name-wrapper {
    display: flex;
    width: 100%;
    position: relative;
    gap: 8px;
}

.block-right-form-repassword {
    margin-bottom: 32px;
}

.block-right-form-repassword,
.block-right-form-label {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-color);
}
.block-right-form-action__hide,
.block-right-form-action__show,
.block-right-form-action__remove {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 999px;
    right: 0;
    top: 0;
    padding: 0;
    transform: translate(-50%, 100%);
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}
.disable-icon {
    display: none;
}
.block-right-form-action__remove {
    background-image: url(../../../assets/icons/remove.svg);
}
.block-right-form-action__show {
    background-image: url(../../../assets/icons/show.svg);
}
.block-right-form-action__hide {
    background-image: url(../../../assets/icons/hide.svg);
}
.block-right-form-terms {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.block-right-form-terms-checkbox {
    display: flex;
    align-items: center;
}

.block-right-form-recover-body {
    font-weight: 500;
    font-size: 14px;
}

.block-right-form-submit {
    width: 100%;
}

.block-right-form-recover {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block-right-form-signin {
    width: 100%;
}
@media only screen and (max-width: 798px) {
    .block-left {
        display: none;
    }
    .block-right-heading {
        width: 70%;
    }
}

@media (min-width: 799px) and (max-width: 940px) {
    .block-right-heading {
        width: 70%;
    }
}

.error > label {
    color: var(--red);
}
.error > input {
    border: 2px solid var(--red);
}
.line {
    height: 1px;
    width: 100%;
    background-color: #e0e0e0;
    margin: 32px 0;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
